[submodule "packages/auctionhouse-contracts"]
	path = packages/auctionhouse-contracts
	url = git@github.com:mxjxn/auctionhouse-contracts.git
[submodule "apps/backend"]
	path = apps/backend
	url = git@github.com:mxjxn/auctionhouse-backend.git
[submodule "packages/creator-core-contracts"]
	path = packages/creator-core-contracts
	url = git@github.com:mxjxn/creator-core-solidity.git
[submodule "apps/such-gallery"]
	path = apps/such-gallery
	url = https://github.com/mxjxn/such-gallery.git
[submodule "packages/stp-v2"]
	path = packages/stp-v2
	url = https://github.com/mxjxn/stp-v2.git
